@import url(./base.less);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0.53333vw 2.66667vw rgba(0, 0, 0, 0.2);
}

.m-navbar {
    height: 11.7333vw;
    padding: 0 3.2vw 0 4.8vw;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .logo {
        .Navbar_logo {
            font-size: 7.46666667vw;
            color: #fb7299;
        }
    }

    .right {
        align-items: center;
        display: flex;

        .search {
            color: #ccc;

            .ic_search_tab {
                font-size: 5.86666667vw;
            }
        }


        .face {
            margin-left: 5.3333vw;
            margin-right: 5.3333vw;
            width: 6.4vw;
            height: 6.4vw;
            border-radius: 50%;
            overflow: hidden;
        }

        .app-btn {
            width: 19.2vw;
            height: 6.4vw;
        }
    }
}

.channel-menu {
    display: flex;
    height: 10.6667vw;
    position: relative;
    border-bottom: 1px solid #e7e7e7;

    .tabs {
        flex: 1;

        .tabs-list {
            display: flex;
            position: relative;

            a {
                line-height: 10.6667vw;
                white-space: nowrap;
                height: 10.6667vw;
                padding: 0 4.26666667vw;
                font-size: 3.73333333vw;
            }

            .line {
                position: absolute;
                background-color: #fb7299;
                width: 7.4667vw;
                height: .5333vw;
                left: 4.26666667vw;
                bottom: 0px;
            }

        }

    }

    .after {
        color: #ccc;
        background-color: white;
        z-index: 99;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 10.6667vw;
        height: 10.4vw;
        text-align: center;
        line-height: 10.4vw;
    }
}

.m-home {
    padding: 22.66666667vw 1.33333333vw 0;

    .video-list {
        display: flex;
        flex-wrap: wrap;

        .video-item {
            flex-basis: 50%;
            padding: 2.13333333vw 1.33333333vw;

            .card {

                position: relative;

                .count {
                    font-size: 3.7333vw;
                    padding: 1.0667vw 1.7333vw;
                    left: 0px;
                    right: 0px;
                    display: flex;
                    justify-content: space-between;
                    color: white;
                    background-image: linear-gradient(transparent, red);
                    position: absolute;
                    bottom: 0px;

                    .icon_shipin_bofangshu {
                        font-size: 3.7333vw;
                    }

                    .icon_shipin_danmushu {
                        font-size: 3.7333vw;
                    }

                }


            }

            .title {
                font-size: 3.2vw;
            }

        }
    }
}

.app {
    position: fixed;
    bottom: 8vw;
    left: 0px;
    right: 0px;
    padding: 0 5.33333333vw;

    .btn-app {
        text-align: center;
        height: 10.1333vw;
        line-height: 10.1333vw;
        width: 100%;
        background-color: #fb7299;
        color: white;
        font-size: 4.2667vw;
        border-radius: 4.6667vw;
    }
}