* {
  padding: 0px;
  margin: 0px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  width: 640px;
  margin: 0px auto;
  font-size: 14px;
}
.app ul {
  color: white;
  height: 45px;
  background-color: #333333;
  list-style: none;
  display: flex;
}
.app ul li:first-child {
  width: 51px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}
.app ul li:first-child img {
  width: 10px;
  height: 10px;
}
.app ul li:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: center;
}
.app ul li:nth-child(2) img {
  width: 30px;
  height: 30px;
}
.app ul li:nth-child(2) p {
  flex: 1;
  text-align: center;
}
.app ul li:nth-child(3) {
  width: 25%;
  text-align: center;
  line-height: 45px;
  background-color: #F63515;
}
.search-wrap {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 640px;
  transform: translateX(-50%);
  height: 45px;
  background-color: transparent;
  list-style: none;
  display: flex;
  align-items: center;
}
.search-wrap .search-btn {
  position: relative;
  width: 40px;
  height: 45px;
}
.search-wrap .search-btn::before {
  content: '';
  display: block;
  left: 10px;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/s-btn.png) no-repeat;
  background-size: 20px 18px;
}
.search-wrap .search {
  margin: 0px 10px;
  flex: 1;
  background-color: white;
  border-radius: 15px;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  align-items: center;
  display: flex;
}
.search-wrap .search .jd-icon {
  border-right: solid 1px #cccccc;
  width: 30px;
  height: 15px;
  background: url(../images/jd.png) no-repeat;
  background-size: 20px 15px;
}
.search-wrap .search .sou {
  margin-left: 10px;
  width: 18px;
  height: 15px;
  background: url(../images/jd-sprites.png) no-repeat -81px 0;
  background-size: 200px auto;
}
.search-wrap .search-login {
  color: white;
  margin-right: 10px;
}
.main-content {
  width: 640px;
}
.main-content .slider {
  width: 100%;
}
.main-content .slider img {
  width: 100%;
  height: auto;
}
.brand {
  display: flex;
}
.brand a {
  flex: 1;
}
.brand a img {
  width: 100%;
  height: auto;
}
nav.clearfix {
  display: flex;
  flex-wrap: wrap;
}
nav.clearfix a {
  text-decoration: none;
  color: #333333;
  flex-basis: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
nav.clearfix a img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.news {
  width: 640px;
  display: flex;
}
.news a:nth-child(1) {
  width: 50%;
}
.news a:nth-child(1) img {
  width: 100%;
}
.news a:nth-child(2) {
  width: 25%;
}
.news a:nth-child(2) img {
  width: 100%;
}
.news a:nth-child(3) {
  width: 25%;
}
.news a:nth-child(3) img {
  width: 100%;
}
